<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title || '' %> - Watching Over Babies</title>
        <link href="/assets/css/material-dashboard.min.css?v=2.1.1" rel="stylesheet" />
        <link href="/assets/css/material-dashboard-pro.min.css?v=2.0.3" rel="stylesheet" />
        <link href="/assets/css/style.min.css" rel="stylesheet" />
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    </head>
    <body>